AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=us-east-1
AIRFLOW_UID=your_UID

# Postgres Database
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
AIRFLOW_ADMIN_USER=your_username
AIRFLOW_ADMIN_PASSWORD=your_password

POSTGRES_DB=your_db

BRONZE_BUCKET=your_bronze_bucket
SILVER_BUCKET=your_silver_bucket
GOLD_BUCKET=your_gold_bucket
OPENAQ_API_KEY=your_openaq_api_key